<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Fbiz.Framework.Core.Configuration.v2.0" type="Fbiz.Framework.Core.Configuration.ConfigurationSection, Fbiz.Framework.Core.v2.0, Version=2.0.4.1, Culture=neutral, PublicKeyToken=4da387c7938b1245" />
  </configSections>
  <Fbiz.Framework.Core.Configuration.v2.0>
    <Cache Enabled="false" Duration="0" />
    <RegisterClass>
      <add Assembly="IoC" />
    </RegisterClass>
  </Fbiz.Framework.Core.Configuration.v2.0>
  <connectionStrings>
    <add name="Sql" connectionString="Data Source=localhost;Initial Catalog=Template_Admin_Fbiz_Framework;User Id=sa;Password=159753;Integrated Security=false" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fbiz.Framework.Core.v2.0" publicKeyToken="4da387c7938b1245" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.1" newVersion="2.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fbiz.Framework.DataAccess.v2.0" publicKeyToken="4da387c7938b1245" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.1" newVersion="2.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>
