<?xml version="1.0" encoding="utf-8" ?>
<Fbiz.Framework.Core.Configuration.v2.0>
  <Cache Enabled="false" Duration="0" />
  <RegisterClass>
    <clear />
    <add Assembly="Admin" />
    <add Assembly="IoC" />
    <add Assembly="Engine" />
  </RegisterClass>
</Fbiz.Framework.Core.Configuration.v2.0>