<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <clear />

  <add name="Sql" connectionString="Data Source=xde.database.windows.net;Initial Catalog=xde;User Id=diogo.souza;Password=UpR7B21RT6kl;Integrated Security=false" providerName="System.Data.SqlClient" />
  <!--<add name="Sql" connectionString="Data Source=SQL-01\SQL2008R2_ACEITE;Initial Catalog=SQL_XDEX_LANCAMENTO_ACEITE;User Id=sa;Password=159753;Integrated Security=false" providerName="System.Data.SqlClient" />-->
</connectionStrings>
